<div class="sign-up-container">

    <h1>Sign up to application</h1>

    <form #form="ngForm">

        <div class="item-form">
            <input 
                type="text"
                name="userName"
                #userName="ngModel"
                [(ngModel)]="signUpModel.userName"
                placeholder="User name">
        </div>
    
        <div class="item-form">
            <input 
                type="tell"
                name="phoneNumber"
                #phoneNumber="ngModel"
                [(ngModel)]="signUpModel.phoneNumber"
                placeholder="Phone number">
        </div>
    
        <div class="item-form">
            <input 
                type="email"
                name="email"
                #email="ngModel"
                [(ngModel)]="signUpModel.email"
                placeholder="email">
        </div>
    
        <div class="item-form">
            <input 
                type="password"
                name="password"
                #password="ngModel"
                [(ngModel)]="signUpModel.password"
                placeholder="Password">
        </div>
    
        <div class="item-form">
            <input 
                type="password"
                name="confirmPassword"
                #confirmPassword="ngModel"
                [(ngModel)]="signUpModel.confirmPassword"
                placeholder="Confirm password">
        </div>
    
        <div class="item-form">
            <button class="signup-button" (click)="signUp()">Sign up</button>
        </div>
    
    </form>
</div>