.main-container{
    ul{
        li{
            .link-to-url{
                width: fit-content;
                padding: 5px 15px 5px 15px;
                border: none;
                border-radius: 10px;
                color: black;
                font-size: 16px;
                background: #D5CABD;
            }
        }
    }
}