<form #form="ngForm">

    <div>
        <input 
            type="email"
            name="email"
            #email="ngModel"
            [(ngModel)]="loginModel.email"
            placeholder="email">
    </div>

    <div>
        <input 
            type="password"
            name="password"
            #password="ngModel"
            [(ngModel)]="loginModel.password"
            placeholder="Password">
    </div>

    <div>
        <button (click)="signIn()">Sign in</button>
    </div>

</form>