
<div class="main-container">
    <div class="header-container">
        <div class="logo" routerLink=".">Logo</div>
        <div class="auth-buttons" >
            <button class="auth-action-button" *ngIf="!isAuthorized" routerLink="account/sign-in">Sign in</button>
            <button class="auth-action-button" *ngIf="!isAuthorized" routerLink="account/sign-up">Sign up</button>
            <button class="auth-action-button" *ngIf="isAuthorized" (click)="logOut()">Log out</button>
        </div>
    </div>
    <div class="body-container">
        <router-outlet></router-outlet>
    </div>
</div>
